/* This is the stylesheet for Crazy Bobs Pumpkin Patch */

html, body, header, nav, footer, div, h1,h2,h3,h4,h5,h6, p,ul,li {
    margin:0;
    padding:0;
}

body{
    background-color:#00274d;
    font-family:'tahoma', san-serif;
    color:#000000;    
}

div#container {
    /*border: 1px solid orange;*/
    background-color:white;
    width:1024px;
    height:auto;
    margin:auto;
}

div#container header{
    background-color: bisque;
    background-image: url(images/pumpkins.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    color:brown;
    width:100%;
    height:200px;
    text-align:center;
    
}

div#container header h1 {
    padding:70px;
    font-size: 300%;
    color:darkslateblue;
    text-shadow: 1px 1px black;
}

nav ul{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: black;
}

nav ul li {
    float:left;
}

nav ul li a {
    display:block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}

nav ul li a:hover {
    background-color: darkslateblue;
}

.active{
    background-color: darkslateblue;
}
div#content{
    display:block;
    width:1019px;
    height:auto;
    padding:5px;
}
img#smallpumpkins{
    float:left;
    width:300px;
}
h2{
    float:left;
    clear:right;
    margin: 0 10px;
    width:600px;
}
p{
    float:left;
    margin:10px;
    width:650px;
}
footer{
    padding-top:22px;
    width:100%;
    height:50px;
    color:white;
    background-color: black;
    
   
}

footer p{
    width:100%;
    text-align:center;
}
#bob{
    display:block;
    margin: 5px 10px;
    width:400px;
    float:left;
}
h2#bob_h2{
    float:left;   
    width:500px;
    margin: 0 10px;
}
p#bob_desc{
    float:left;
    margin:10px;
    width:100%;
}

/* About page*/

div#col1{    
    background-color:bisque;
    width:50%;
    float:left;
}
div#col2{
    width:50%;
    float:right;
}

/* Gallery Page */
div#gallery{
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}

div#gallery .frame{
    background-color:bisque;
    border:2px solid black;
    
}

div#gallery .frame figcaption{
    text-align: center;
    padding-bottom: 5px;
    
}

img.galleryimg{
    width:200px;
    height:150px;
    margin:5px 10px;    
}
/* Contact */
form fieldset {
    background-color:lightgray;
}

form fieldset legend{
    border:1px solid black;
    background-color:white;
    font-weight: bold;
}
form input {
    margin: 5px 0;
}

/* Keep Web Pages Open*/ 
.keepOpen{
    clear:both;
}

